@import 'styles/variables.scss';

.fullpageLayoutWrapper {
  width: calc(100vw - 1rem);
  padding: 2rem 0.5rem;
  @media only screen and (min-width: 992px) {
    width: calc(100vw - 8rem);
    padding: 2rem 4rem;
  }
}

.alertBox {
  top: 0;
  right: 0;
  width: 18.5rem;
  background-color: $red;
  color: $white;
  border-radius: $borderRad;
  position: absolute;
  padding: 0.5rem;
  margin: 0.2rem;
  text-align: center;
}
