@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.authWrapper {
  width: fit-content;
  margin: auto;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 13rem;

  input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: $borderRad;
  }
  & > label > input {
    width: 12rem;
  }

  .submitButton {
    @include boxPrimary;
    width: 13rem;
  }
  @media only screen and (min-width: 992px) {
    width: 21rem;
    & > label > input {
      width: 20rem;
    }
    .submitButton {
      width: 21.3rem;
    }
  }
}
