@import 'styles/index.module.scss';

.authWrapper {
  width: fit-content;
  margin: auto;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 21rem;

  input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
  }
  & > label > input {
    width: 20rem;
  }

  .submitButton {
    @include boxPrimary;
    width: 21.3rem;
  }
}
