.serverWrapper {
  padding: 0 3rem;
}

.listTitle {
  display: flex;
  justify-content: space-between;
}

.listContainer {
  max-height: 28em;
  overflow-y: scroll;
  padding: 0;
}

.listItem {
  display: flex;
  justify-content: space-between;

  & > h4 {
    margin: 2.5rem;
  }

  li {
    list-style-type: none;
  }
}

li:nth-child(odd) {
  background: #ffffff;
}
li:nth-child(even) {
  background: #80808030;
}
