@import 'styles/variables.scss';

.searchBarWrapper {
  display: flex;
  justify-content: center;
}

.input {
  width: 20rem;
  height: 2rem;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  border-radius: $borderRad;
}

.proximitySelect {
  width: 7rem;
  padding: 0 0.5rem;
  border-radius: $borderRad;
  border: 2px solid $greyMedium;
}
